body {
    background: #FFFFFF;
    color: #191970;
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 25px 50px;
}

code {
    color: #7B68EE;
    background: #F8F8FF;
    padding: 2px 10px;
    border-radius: 10px;
}

a {
    color: #4169E1; 
}

a :hover {
    color: #87CEEB;

}